<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/9f8e8fc542.js" crossorigin="anonymous"></script>

    <title>Nuevo Ciclo - Infórmate</title>

</head>

<body>
    <!-- Start Navbar-->
    <div class="main-header fixed-top">
        <nav class="navbar  navbar-expand-md  container">
            <a class="navbar-brand" href="../index.html">
                <img src="../imagenes/NuevoCicloLogo.png " width="80 " height="80 " class="d-inline-block align-center" alt=" " loading="lazy ">Nuevo Ciclo</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #7ed957;">
                <span class="navbar-toggler-icon" style="color: #031c3d" >
                    <i class="fas fa-bars" style="padding-top:4px"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav nav-tabs m-auto">
                    <li class="nav-item  align-text-bottom">
                        <a class="nav-link  align-text-bottom" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item align-text-bottom ">
                        <a class="nav-link align-text-bottom " href="Conocenos.html ">CONÓCENOS</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link align-text-bottom " href="Categorias.html ">CATEGORÍAS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " href="Informate.html ">INFÓRMATE</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <!--End Navbar-->

    <!-- Start Jumbotron -->
    <div class="container bg-light" id="med-cad">
        <div class="jumbotron bg-light">
            <div class="container text-center">
                <h1 class="display-4" style="letter-spacing: 5px;"> <span style="color: #031c3d;">INFÓRMATE</span> </h1>
            </div>

            <!-- Info Medicinas caducadas -->
            <div class=" category card-deck">
                <div class="card border-0">
                    <img src="../imagenes/MedicinasNuevociclo_info_big.png" class="card-img-bottom rounded" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!-- Start infography of Batteries -->
    <div class="container" id="pilas">
        <div class="jumbotron bg-light">

            <!-- Info Pilas part 1 -->
            <div class=" category card-deck">
                <div class="card border-0">
                    <img src="../imagenes/PilasNuevoCiclo_info_comparison_percentage_big.png" class="card-img-bottom rounded align-left" alt="...">
                </div>
            </div>

            <!-- Info Pilas part 2 -->
            <div class=" category card-deck">
                <div class="card border-0">
                    <img src="../imagenes/PilasNuevoCiclo_info_comparison_big.png" class="card-img-bottom rounded align-left" alt="...">
                </div>
            </div>

            <!-- Info Pilas part 3 -->
            <div class=" category card-deck">
                <div class="card border-0">
                    <img src="../imagenes/PilasNuevoCiclo_info_comparison_directory_big.png" class="card-img-bottom rounded align-left" alt="...">
                </div>
            </div>

            <!-- Info Pilas part 4 -->
            <div class=" category card-deck">
                <div class="card border-0">
                    <img src="../imagenes/PilasNuevoCiclo_info_comparison_metals_big.png" class="card-img-bottom rounded align-left" alt="...">
                </div>
            </div>

        </div>

    </div>




    <!--Start Category Cards  -->

    <div class="jumbotron bg-light">

        <h1 class="lead-4 text-white rounded" style="background-color: #031c3d;"> CONOCE LAS DEMÁS CATEGORÍAS</h1>

        <div class="row row-cols-1 row-cols-md-4 residues-cards text-center">
            <div class=" category col mb-3 ">
                <div class="card border-0 h-100">
                    <div class="card-body">
                        <h3 class="card-title">PILAS</h3>
                        <p class="card-text"></p>
                    </div>
                    <img src="../imagenes/pilas.jpg" class="card-img-bottom img-fluid" alt="...">
                    <ul class="nav flex-column middle text-center ">
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link active " href="pilas.html ">DEPOSITAR</a>
                        </li>
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link " href="# ">INFÓRMATE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category col mb-3">
                <div class="card border-0 h-100">
                    <div class="card-body">
                        <h3 class="card-title">MEDICAMENTOS</h3>
                        <p class="card-text"></p>
                    </div>
                    <img src="../imagenes/volodymyr-hryshchenko-m1Hq4ibP9rc-unsplash.jpg " class="card-img-bottom img-fluid" alt="...">
                    <ul class="nav flex-column middle text-center ">
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link active " href="# ">DEPOSITAR</a>
                        </li>
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link " href="# ">INFÓRMATE</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="category col mb-3">
                <div class="card border-0 h-100">
                    <div class="card-body align-middle">
                        <h3 class="card-title align-middle">e-waste</h3>
                    </div>
                    <img src="../imagenes/markus-spiske-f6IS1bAZao4-unsplash.jpg " class="card-img-bottom img-fluid" alt="...">
                    <ul class="nav flex-column middle text-center ">
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link active" href="# ">DEPOSITAR</a>
                        </li>
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link " href="# ">INFÓRMATE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category col mb-3">
                <div class="card border-0 h-100">
                    <div class="card-body">
                        <h3 class="card-title">ACEITE VEGETAL</h3>
                    </div>
                    <img src="../imagenes/357025-PAVKFO-61.jpg" class="card-img-bottom img-fluid" alt="...">
                    <ul class="nav flex-column middle text-center ">
                        <li class="nav-item  rounded-pill my-4">
                            <a class="nav-link active" href="pilas.html ">DEPOSITAR</a>
                        </li>
                        <li class="nav-item rounded-pill my-4">
                            <a class="nav-link " href="# ">INFÓRMATE</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- End Category Cards -->

    </div>








    <!--Start Footer -->
    <footer class="mt-5 py-4 text-center ">
        <div class="container ">

            <p>&copy; Copyright 2020. Nuevo Ciclo</p>

        </div>


    </footer>
    <!--End Footer -->

    <!-- Back to top button -->
    <a id="back-to-top-button"></a>
    <script defer src="../js/back_to_top.js"></script>
</body>

</html>