<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <title>Pilas</title>
</head>

<body>
    <div class="container">
        <div class="bg-dark py-4 text-center">
            <a href="#" class="text-white p-2 lead">LogoResiduo</a>
        </div>

        <div class="bg-warning text-center py-5">
            <h1>Nombre App</h1>
            <h2>Pilas</h2>
            <h3>Búsqueda</h3>
            <form action="" id="busqueda">
                <div class="form-group" id="app-alcaldias">
                    <label for="exampleFormControlSelect1">Alcaldía</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected id="bu">Choose...</option>
                        <option v-for="alcaldia in alcaldias">
                            
                            {{alcaldia.text}}
                        </option>
                    </select>
                </div>

                <div class="form-group" id="app-colonias">
                    <label for="exampleFormControlSelect1">Colonia</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected id="bu">Choose...</option>
                        <option v-for="alcaldia in lugares">                       
                            {{alcaldia.COLONIA}}
                        </option>
                        
                    </select>
                </div>
        </div>
        </form>

        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="show()">Encuentra</button>


        <div class="container" id="app-listado" style="display: none;">


            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Lugares en Azcapotzalco</h3>
                    <hr>
                    <div V-for="lugares in lista">
                        <p> Estatus: {{lugares.ESTATUS}}</p>
                        <p> Ubicación: {{lugares.UBICACIÓN}}</p>
                        <p> Alcaldía: {{lugares.ALCALDIA}}</p>
                        <p> Colonia: {{lugares.COLONIA}}</p>
                        <p> C.P.: {{lugares.CP}}</p>
                        <hr>

                    </div>



                </div>




            </div>
        </div>


    </div>
    <div class="container">

        <script>
            function show() {
                var x = document.getElementById("app-listado");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </div>




    <script>
        var app_alcaldias = new Vue({
            el: '#app-alcaldias',
            data: {
                alcaldias: [{
                    text: 'Álvaro Obregón'
                }, {
                    text: 'Azcapotzalco'
                }, {
                    text: 'Benito Juárez'
                }, {
                    text: 'Cuauhtémoc'
                }, {
                    text: 'Gustavo A.Madero'
                }, {
                    text: 'Iztacalco'
                }, {
                    text: 'Iztapalapa'
                }, {
                    text: 'Magdalena Contreras'
                }, {
                    text: 'Miguel Hidalgo'
                }, {
                    text: 'Milpa Alta'
                }, {
                    text: 'Tlahuac'
                }, {
                    text: 'Tlalpan'
                }, {
                    text: 'Venustiano Carranza'
                }, {
                    text: 'Xochimilco'
                }]
            }
        })
    </script>
    <script>
        var app_colonias = new Vue({
            el: '#app-colonias',
            data: {
                lugares: [{
                    "UBICACI\u00d3N": "AV. CULTURA NORTE Y AV. DE LAS CULTURAS.",
                    "ALCALDIA": "AZCAPOTZALCO",
                    "COLONIA": "INFONAVIT EL ROSARIO",
                    "CP": 2125.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. INVIERNO - ESQ. AV. AQUILES SERD\u00c1N.",
                    "ALCALDIA": "AZCAPOTZALCO",
                    "V\u00cdA PRINCIPAL": "AQUILES SERD\u00c1N",
                    "SENTIDO": "P-O",
                    "COLONIA": "ANGEL ZIMBRON",
                    "CP": 2099.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 5 NORTE AV. DEPORTIVO REYNOSA - AV. DE LAS GRANJAS.    - DEP\u00d3SITO DE PEPSI",
                    "ALCALDIA": "AZCAPOTZALCO",
                    "V\u00cdA PRINCIPAL": "EJE 5 NORTE",
                    "SENTIDO": "O-P",
                    "COLONIA": "SANTA BARBARA",
                    "CP": 2110.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. AQUILES SERD\u00c1N - PASANDO  CALLE PRIVADA 16 DE SEPTIEMBRE.  -",
                    "ALCALDIA": "AZCAPOTZALCO",
                    "V\u00cdA PRINCIPAL": "AQUILES SERD\u00c1N",
                    "SENTIDO": "O-P",
                    "COLONIA": "PASTEROS",
                    "CP": 2150.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 5 NORTE AV. DEPORTIVO REYNOSA - ESQ.  AV. FERROCARRIL CENTRAL.",
                    "ALCALDIA": "AZCAPOTZALCO",
                    "V\u00cdA PRINCIPAL": "EJE 5 NORTE",
                    "SENTIDO": "N-S",
                    "COLONIA": "NUEVA AMPL EL ROSARIO",
                    "CP": 2220.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN Y CALLE AJUSCO",
                    "ALCALDIA": "BENITO JUAREZ",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "PORTALES NORTE",
                    "CP": 3300.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. DE TLALPAN - CALLE ING. PASCUAL ORTIZ RUBIO",
                    "ALCALDIA": "BENITO JUAREZ",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "ZACAHUITZCO",
                    "CP": 3660.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. DEL OBRERO MUNDIAL - ESQ. CALZ. DE TLALPAN",
                    "ALCALDIA": "BENITO JUAREZ",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "P-O",
                    "COLONIA": "ALAMOS",
                    "CP": 3400.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. INSURGENTES SUR - CALLE DAMAS -  TORRE INSURGENTES",
                    "ALCALDIA": "BENITO JUAREZ",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (SUR)",
                    "SENTIDO": "N-S",
                    "COLONIA": "CREDITO CONSTRUCTOR",
                    "CP": 3900.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "ANILLO PERIF\u00c9RICO BULEVAR ADOLFO L\u00d3PEZ MATEOS Y AVENIDA SAN ANTONIO",
                    "ALCALDIA": "BENITO JUAREZ",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (PONIENTE)",
                    "SENTIDO": "N-S",
                    "COLONIA": "INHAB",
                    "CP": 3800.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. ESTADIO AZTECA ESQ. CALZADA DE TLALPAN",
                    "ALCALDIA": "COYOACAN",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "P-O",
                    "COLONIA": "SANTA URSULA COAPA",
                    "CP": 4600.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN, ESQ.AV. RIO CHURUBUSCO",
                    "ALCALDIA": "COYOACAN",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "CHURUBUSCO",
                    "CP": 4120.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN, ESQ. HEROES DEL 47",
                    "ALCALDIA": "COYOACAN",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "COUNTRY CLUB",
                    "CP": 4120.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN Y AMERICA",
                    "ALCALDIA": "COYOACAN",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "PARQUE SAN ANDRES",
                    "CP": 4040.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN Y AMERICA",
                    "ALCALDIA": "COYOACAN",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "PARQUE SAN ANDRES",
                    "CP": 4040.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. CANTERA Y CALLE HIDALGO.",
                    "ALCALDIA": "GUSTAVO A. MADERO",
                    "V\u00cdA PRINCIPAL": "REFORMA (NORTE)",
                    "SENTIDO": "O-P",
                    "COLONIA": "GUSTAVO A MADERO",
                    "CP": 7010.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 5 NORTE AV. MONTEVIDEO Y AV. CALLAO. ( SE DESTAPAN PARA VALIDAR SI SE PUEDE PONER)",
                    "ALCALDIA": "GUSTAVO A. MADERO",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (NORTE)",
                    "SENTIDO": "O-P",
                    "COLONIA": "LINDAVISTA",
                    "CP": 7300.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 5 NORTE AV. MONTEVIDEO Y AV. INSTITUTO POLIT\u00c9CNICO NACIONAL.",
                    "ALCALDIA": "GUSTAVO A. MADERO",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (NORTE)",
                    "SENTIDO": "O-P",
                    "COLONIA": "PLANETARIO LINDAVISTA",
                    "CP": 7300.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "OTH\u00d3N DE MENDIZ\u00c1BAL \u2013 MIGUEL BERNARD",
                    "ALCALDIA": "GUSTAVO A. MADERO",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (NORTE)",
                    "SENTIDO": "S-N",
                    "COLONIA": "TORRES LINDAVISTA",
                    "CP": 7360.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 8 SUR CALZ. ERMITA IZTAPALAPA Y CALLE CASCADA.",
                    "ALCALDIA": "IZTAPALAPA",
                    "V\u00cdA PRINCIPAL": "ERMITA",
                    "SENTIDO": "P-O",
                    "COLONIA": "EL PRADO",
                    "CP": 9450.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. ERMITA IZTAPALAPA - AV. ERMITA IZTAPALAPA.",
                    "ALCALDIA": "IZTAPALAPA",
                    "V\u00cdA PRINCIPAL": "ERMITA",
                    "SENTIDO": "P-O",
                    "COLONIA": "BARRIO SAN LUCAS",
                    "CP": 9000.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. ERMITA IZTAPALAPA - ROJO G\u00d3MEZ",
                    "ALCALDIA": "IZTAPALAPA",
                    "V\u00cdA PRINCIPAL": "ERMITA",
                    "SENTIDO": "P-O",
                    "COLONIA": "EL MOLINO",
                    "CP": 9830.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. ERMITA IZTAPALAPA - ROJO G\u00d3MEZ",
                    "ALCALDIA": "IZTAPALAPA",
                    "V\u00cdA PRINCIPAL": "ERMITA",
                    "SENTIDO": "P-O",
                    "COLONIA": "EL MOLINO",
                    "CP": 9830.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. ERMITA IZTAPALAPA - PASANDO AV. TOLTECAS.",
                    "ALCALDIA": "IZTAPALAPA",
                    "V\u00cdA PRINCIPAL": "ERMITA",
                    "SENTIDO": "O-P",
                    "COLONIA": "LOS CIPRESES",
                    "CP": "#N/A"
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "INSURGENTES SUR \u2013 VIVANCO",
                    "ALCALDIA": "TLALPAN",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (SUR)",
                    "SENTIDO": "S-N",
                    "COLONIA": "BARRIO LA FAMA",
                    "CP": 14000.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. M\u00c9XICO XOCHIMILCO - CALLE FORESTAL",
                    "ALCALDIA": "TLALPAN",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (SUR)",
                    "SENTIDO": "S-N",
                    "COLONIA": "GUADALUPE",
                    "CP": 14389.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZ. M\u00c9XICO XOCHIMILCO - CALLE FORESTAL",
                    "ALCALDIA": "TLALPAN",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (SUR)",
                    "SENTIDO": "S-N",
                    "COLONIA": "GUADALUPE",
                    "CP": 14389.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AVENIDA CANAL DE MIRAMONTES - ENTRE CALZ. DE LAS BRUJAS Y CALZ. ACOXPA.",
                    "ALCALDIA": "TLALPAN",
                    "V\u00cdA PRINCIPAL": "MIRAMONTES",
                    "SENTIDO": "N-S",
                    "COLONIA": "VILLA COAPA",
                    "CP": 14300.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AVENIDA CANAL DE MIRAMONTES - ENTRE CALZ. DE LAS BRUJAS Y CALZ. ACOXPA.",
                    "ALCALDIA": "TLALPAN",
                    "V\u00cdA PRINCIPAL": "MIRAMONTES",
                    "SENTIDO": "N-S",
                    "COLONIA": "VILLA COAPA",
                    "CP": 14300.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALLE VERSALLES Y ATENAS  (HOTEL FIESTA AMERICANA)",
                    "ALCALDIA": "CUAUHTEMOC",
                    "V\u00cdA PRINCIPAL": "REFORMA (COL\u00d3N-PERIF\u00c9RICO)",
                    "SENTIDO": "N-S",
                    "COLONIA": "JUAREZ",
                    "CP": 6600.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALLE AYUNTAMIENTO Y DOLORES",
                    "ALCALDIA": "CUAUHTEMOC",
                    "V\u00cdA PRINCIPAL": "REFORMA (COL\u00d3N-PERIF\u00c9RICO)",
                    "SENTIDO": "P-O",
                    "COLONIA": "CENTRO",
                    "CP": 5010.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALZADA DE TLALPAN Y EJE 3 SUR PE\u00d3N CONTRERAS (PUENTE EJE 3)",
                    "ALCALDIA": "CUAUHTEMOC",
                    "V\u00cdA PRINCIPAL": "TLALPAN",
                    "SENTIDO": "N-S",
                    "COLONIA": "OBRERA",
                    "CP": 6800.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AVENIDA INSURGENTES SUR - PASANDO DURANGO",
                    "ALCALDIA": "CUAUHTEMOC",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (SUR)",
                    "SENTIDO": "N-S",
                    "COLONIA": "ROMA NORTE",
                    "CP": 6760.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. VIADUCTO R\u00cdO DE LA PIEDAD PASANDO CALZ. COYUYA.",
                    "ALCALDIA": "IZTACALCO",
                    "V\u00cdA PRINCIPAL": "CONGRESO DE LA UNI\u00d3N",
                    "SENTIDO": "P-O",
                    "COLONIA": "MAGDALENA MIXHUCA",
                    "CP": 8010.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CIRCUITO INTERIOR AV. R\u00cdO CHURUBUSCO PASANDO CALLE ATLETAS.",
                    "ALCALDIA": "IZTACALCO",
                    "V\u00cdA PRINCIPAL": "CHURUBUSCO",
                    "SENTIDO": "N-S",
                    "COLONIA": "GRANJAS MEXICO",
                    "CP": 8400.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. TEZONTLE - CTO. INTERIOR R\u00cdO CHURUBUSCO",
                    "ALCALDIA": "IZTACALCO",
                    "V\u00cdA PRINCIPAL": "CHURUBUSCO",
                    "SENTIDO": "P-O",
                    "COLONIA": "IZTACALCO INFONAVIT",
                    "CP": 8040.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EJE 6 SUR AV. PLAYA PIE DE LA CUESTA PASANDO CALLE PLAYA PESCADORES.",
                    "ALCALDIA": "IZTACALCO",
                    "V\u00cdA PRINCIPAL": "EJE 6",
                    "SENTIDO": "P-O",
                    "COLONIA": "REFORMA IZTACCIHUATL SUR",
                    "CP": 8840.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. VIADUCTO R\u00cdO DE LA PIEDAD - EJE 3 SUR.",
                    "ALCALDIA": "IZTACALCO",
                    "V\u00cdA PRINCIPAL": "EJE 3",
                    "SENTIDO": "P-O",
                    "COLONIA": "JARDIN BALBUENA",
                    "CP": 8400.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "BLVR M. \u00c1VILA CAMACHO Y AV. CONSTITUYENTES (MUSEO DEL PAPALOTE)",
                    "ALCALDIA": "MIGUEL HIDALGO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (NORTE)",
                    "SENTIDO": "N-S",
                    "COLONIA": "2DA SECC DEL BOSQUE DE CHAPULTEPEC",
                    "CP": 11100.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "ANILLO PERIF\u00c9RICO BLVR M. \u00c1VILA CAMACHO Y CALLE MONTE ELBRUZ",
                    "ALCALDIA": "MIGUEL HIDALGO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (NORTE)",
                    "SENTIDO": "O-P",
                    "COLONIA": "LOMAS DE CHAPULTEPEC",
                    "CP": 11560.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "BLVR M. \u00c1VILA CAMACHO Y HORACIO (BANAMEX)",
                    "ALCALDIA": "MIGUEL HIDALGO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (NORTE)",
                    "SENTIDO": "S-N",
                    "COLONIA": "LOS MORALES",
                    "CP": 11510.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "BLVR. M. \u00c1VILA CAMACHO Y JOAQUIN FERN\u00c1NDEZ DE LIZARDI",
                    "ALCALDIA": "MIGUEL HIDALGO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (NORTE)",
                    "SENTIDO": "S-N",
                    "COLONIA": "PERIODISTA",
                    "CP": 11200.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. PARQUE LIRA & CALLE GOBERNADOR LUIS G. CURIEL",
                    "ALCALDIA": "MIGUEL HIDALGO",
                    "V\u00cdA PRINCIPAL": "PARQUE LIRA",
                    "SENTIDO": "N-S",
                    "COLONIA": "SAN MIGUEL CHAPULTEPEC",
                    "CP": 11840.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AVENIDA CARLOS LAZO Y AVENIDA SANTA FE.",
                    "ALCALDIA": "CUAJIMALPA",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "N-S",
                    "COLONIA": "CENTRO COMERCIAL SANTA FE",
                    "CP": 5249.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. PROL. VASCO DE QUIROGA Y CALLE CARLOS ECH\u00c1NOVE. (COND. LA CAMPINA)",
                    "ALCALDIA": "CUAJIMALPA",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "O-P",
                    "COLONIA": "LA ROSITA",
                    "CP": 5109.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. PASEO DE LOS LAURELES - PASEO DE LOS LAURELES",
                    "ALCALDIA": "CUAJIMALPA",
                    "V\u00cdA PRINCIPAL": "BOSQUES DE LAS LOMAS",
                    "SENTIDO": "N-S",
                    "COLONIA": "BOSQUES DE LAS LOMAS",
                    "CP": 5120.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. PROL. PASEO DE LA REFORMA - PROL. BOSQUES DE LA REFORMA",
                    "ALCALDIA": "CUAJIMALPA",
                    "V\u00cdA PRINCIPAL": "BOSQUES DE LAS LOMAS",
                    "SENTIDO": "O-P",
                    "COLONIA": "CUMBRES REFORMA",
                    "CP": 5127.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. VASCO DE QUIROGA - CERRADA VASCO DE QUIROGA",
                    "ALCALDIA": "ALVARO OBREGON",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "O-P",
                    "COLONIA": "CARLOS A MADRAZO",
                    "CP": 1320.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "JOAQUIN GALLO - AV. VASCO DE QUIROGA",
                    "ALCALDIA": "ALVARO OBREGON",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "S-N",
                    "COLONIA": "CENTRO COMERCIAL LOMAS DE SANTA FE",
                    "CP": 1219.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. PROL. PASEO DE LA REFORMA - CALLE ROBERTO MEDELLIN - CORP. BANAMEX",
                    "ALCALDIA": "ALVARO OBREGON",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "P-O",
                    "COLONIA": "ZEDEC SANTA FE",
                    "CP": 1330.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. VASCO DE QUIROGA - AUTOPISTA CONSTITUYENTES LA VENTA",
                    "ALCALDIA": "ALVARO OBREGON",
                    "V\u00cdA PRINCIPAL": "SANTA FE",
                    "SENTIDO": "O-P",
                    "COLONIA": "RES PARQUE SANTA FE",
                    "CP": 1219.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. INSURGENTES SUR Y CALLE GUSTAVO E. CAMPA (TORRE DE BANCOMER)",
                    "ALCALDIA": "ALVARO OBREGON",
                    "V\u00cdA PRINCIPAL": "INSURGENTES (SUR)",
                    "SENTIDO": "S-N",
                    "COLONIA": "FLORIDA",
                    "CP": 1030.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "REUBICADA AV. GPE. I. RAMIREZ PASANDO ANTIG\u00dcO CAMINO A XOCHIMILCO",
                    "ALCALDIA": "XOCHIMILCO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (SUR)",
                    "SENTIDO": "N-S",
                    "COLONIA": "SAN JUAN TEPEPAN",
                    "CP": 16030.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. ANTIGUO CAMINO A XOCHIMILCO - AV. M\u00c9XICO",
                    "ALCALDIA": "XOCHIMILCO",
                    "V\u00cdA PRINCIPAL": "PERIF\u00c9RICO (SUR)",
                    "SENTIDO": "S-N",
                    "COLONIA": "EX EJIDO DE HUIPULCO",
                    "CP": 16030.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "CALLE 15. - AV. IZTACC\u00cdHUATL",
                    "ALCALDIA": "VENUSTIANO CARRANZA",
                    "V\u00cdA PRINCIPAL": "IGNACIO ZARAGOZA",
                    "SENTIDO": "P-O",
                    "COLONIA": "MOCTEZUMA 1RA SECC",
                    "CP": 15530.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EMILIO CARRANZA ESQ. IZTACCIHUATL FRENTE A UN OXXO",
                    "ALCALDIA": "VENUSTIANO CARRANZA",
                    "V\u00cdA PRINCIPAL": "IGNACIO ZARAGOZA",
                    "SENTIDO": "O-P",
                    "COLONIA": "MOCTEZUMA 2DA SECC",
                    "CP": 15530.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "EMILIO CARRANZA ESQ. IZTACCIHUATL FRENTE A UN OXXO",
                    "ALCALDIA": "VENUSTIANO CARRANZA",
                    "V\u00cdA PRINCIPAL": "IGNACIO ZARAGOZA",
                    "SENTIDO": "O-P",
                    "COLONIA": "MOCTEZUMA 2DA SECC",
                    "CP": 15530.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. DEL TALLER PASANDO AV. GENARO GARC\u00cdA.",
                    "ALCALDIA": "VENUSTIANO CARRANZA",
                    "V\u00cdA PRINCIPAL": "AV. DEL TALLER",
                    "SENTIDO": "P-O",
                    "COLONIA": "JARDIN BALBUENA",
                    "CP": 15900.0
                }, {
                    "ESTATUS": "HABILITADO",
                    "UBICACI\u00d3N": "AV. LORENZO BOTURINI PASANDO CALLE SUR 109.",
                    "ALCALDIA": "VENUSTIANO CARRANZA",
                    "V\u00cdA PRINCIPAL": "AV. DEL TALLER",
                    "SENTIDO": "O-P",
                    "COLONIA": "AERONAUTICA MILITAR",
                    "CP": 15970.0
                }]
            },

        })
    </script>


    <script>
        var app_listado = new Vue({
            el: '#app-listado',
            data: {
                lista: [

                    {
                        "ESTATUS": "HABILITADO",
                        "UBICACI\u00d3N": "AV. CULTURA NORTE Y AV. DE LAS CULTURAS.",
                        "ALCALDIA": "AZCAPOTZALCO",
                        "V\u00cdA PRINCIPAL": "AQUILES SERD\u00c1N",
                        "SENTIDO": "N-S",
                        "COLONIA": "INFONAVIT EL ROSARIO",
                        "CP": 2125.0
                    }, {
                        "ESTATUS": "HABILITADO",
                        "UBICACI\u00d3N": "AV. INVIERNO - ESQ. AV. AQUILES SERD\u00c1N.",
                        "ALCALDIA": "AZCAPOTZALCO",
                        "V\u00cdA PRINCIPAL": "AQUILES SERD\u00c1N",
                        "SENTIDO": "P-O",
                        "COLONIA": "ANGEL ZIMBRON",
                        "CP": 2099.0
                    }, {
                        "ESTATUS": "HABILITADO",
                        "UBICACI\u00d3N": "EJE 5 NORTE AV. DEPORTIVO REYNOSA - AV. DE LAS GRANJAS.    - DEP\u00d3SITO DE PEPSI",
                        "ALCALDIA": "AZCAPOTZALCO",
                        "V\u00cdA PRINCIPAL": "EJE 5 NORTE",
                        "SENTIDO": "O-P",
                        "COLONIA": "SANTA BARBARA",
                        "CP": 2110.0
                    }, {
                        "ESTATUS": "HABILITADO",
                        "UBICACI\u00d3N": "AV. AQUILES SERD\u00c1N - PASANDO  CALLE PRIVADA 16 DE SEPTIEMBRE.  -",
                        "ALCALDIA": "AZCAPOTZALCO",
                        "V\u00cdA PRINCIPAL": "AQUILES SERD\u00c1N",
                        "SENTIDO": "O-P",
                        "COLONIA": "PASTEROS",
                        "CP": 2150.0
                    }, {
                        "ESTATUS": "HABILITADO",
                        "UBICACI\u00d3N": "EJE 5 NORTE AV. DEPORTIVO REYNOSA - ESQ.  AV. FERROCARRIL CENTRAL.",
                        "ALCALDIA": "AZCAPOTZALCO",
                        "V\u00cdA PRINCIPAL": "EJE 5 NORTE",
                        "SENTIDO": "N-S",
                        "COLONIA": "NUEVA AMPL EL ROSARIO",
                        "CP": 2220.0
                    }
                ]
            }

        })
    </script>






</body>

</html