<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Own style -->
    <link rel="stylesheet" href="../style.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Nuevo Ciclo - Pilas</title>
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/9f8e8fc542.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Start Navbar-->
    <div class="main-header fixed-top">
        <nav class="navbar  navbar-expand-md  container">
            <a class="navbar-brand" href="../index.html">
                <img src="../imagenes/NuevoCicloLogo.png " width="80 " height="80 " class="d-inline-block align-center" alt=" " loading="lazy "> Nuevo Ciclo
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #7ed957;">
                <span class="navbar-toggler-icon" style="color: #031c3d" >
                    <i class="fas fa-bars" style="padding-top:4px"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav nav-tabs m-auto">
                    <li class="nav-item  align-text-bottom">
                        <a class="nav-link align-text-bottom" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item align-text-bottom ">
                        <a class="nav-link align-text-bottom " href="Conocenos.html ">CONÓCENOS</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="Categorias.html ">CATEGORÍAS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="Informate.html ">INFÓRMATE</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <!--End Navbar-->

    <div class="jumbotron">
        <div class="text-center py-5">
            <!--Start Search by alcaldias-->
            <h2>Pilas</h2>
            <h3>Búsqueda</h3>
            <form action="" id="busqueda">
                <div class="form-group" id="app-alcaldias">
                    <label for="select-alcaldia">Alcaldía</label>
                    <select class="form-control" id="select-alcaldia" onchange="get_alcaldia()">
                        <option selected id="elige-alcaldia">Elige...</option>
                        <option value="Alob">Álvaro Obregón</option>
                        <option value="Azca">Azcapotzalco</option>
                        <option value="Beju">Benito Juárez</option>
                        <option value="Coyo">Coyoacán</option>
                        <option value="Cuaji">Cuajimalpa</option>
                        <option value="Cuau">Cuauhtémoc</option>
                        <option value="Gam">Gustavo A.Madero</option>
                        <option value="Iztac">Iztacalco</option>
                        <option value="Iztap">Iztapalapa</option>
                        <option value="Mihi">Miguel Hidalgo</option>
                        <option value="Tlal">Tlalpan</option>
                        <option value="Veca">Venustiano Carranza</option>
                        <option value="Xoch">Xochimilco</option>
                    </select>

                </div>

                <div class="form-group" id="app-colonias">
                    <label for="exampleFormControlSelect1">Colonia</label>
                    <select class="lista-colonias form-control" id="lista-colonias" onchange="get_info_by_colonia()">
                        <option selected id="bu">Elige...</option>                 
                    </select>
                </div>
        </div>
        </form>

        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="show_data()">Encuentra</button>


    </div>

    <div class="container text-center" id="app-listado">
        <h1 id="alcaldia-heading"></h1>
        <h3 id="colonia-heading"></h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr>
                <div V-for="lugares in lista">
                    <p> Estatus: {{lugares.ESTATUS}}</p>
                    <p> Ubicación: {{lugares.UBICACIÓN}}</p>
                    <p> Alcaldía: {{lugares.ALCALDIA}}</p>
                    <p> Colonia: {{lugares.COLONIA}}</p>
                    <p> C.P.: {{lugares.CP}}</p>
                    <hr>

                </div>



            </div>




        </div>



        <!--Start Footer -->
        <footer class="mt-5 py-4 text-center ">
            <div class="container ">
                <p>Información recuperada del sitio
                    <a href=""></a>
                </p>

                <p>&copy; Copyright 2020. Nuevo Ciclo</p>

            </div>


        </footer>
        <!--End Footer -->


        <script defer>
            var getValue;
            var getAlcaldia;
            var getColonia;
            var colonias_array = [];
            var alcaldia_file;
            const header = document.querySelector('header');
            const select = document.querySelector('.lista-colonias');


            function get_alcaldia() {
                getValue = document.getElementById('select-alcaldia').selectedOptions[0].value;
                getAlcaldia = document.getElementById('select-alcaldia').selectedOptions[0].text;
                console.log(getAlcaldia);

                let alcaldia_file = '../JSON/' + getValue + '.json';
                console.log(alcaldia_file);

                let request = new XMLHttpRequest();
                request.open('GET', alcaldia_file);
                request.responseType = 'json';
                request.send();

                request.onload = function() {
                    alcaldia_info = request.response;
                    const alcaldia = JSON.stringify(alcaldia_info); // convert it to an object
                    console.log(alcaldia_info[0]['COLONIA']);

                    const colonias = get_colonias(alcaldia_info);

                    var select = document.getElementById("lista-colonias");
                    colonias.map(function(item) {
                        var option = document.createElement("option");
                        option.value = item;
                        option.text = item;
                        select.appendChild(option);
                        console.log(colonias.length);
                    });

                }


                function get_colonias(jsonObject) {
                    colonias_array = [];
                    remove_all_childnodes(select); //remove colonias from previous search
                    for (let i = 0; i < jsonObject.length; i++) {
                        colonias_array.push(jsonObject[i]['COLONIA']); //get colonias
                    }
                    console.log(colonias_array);
                    //remove repeated colonias
                    colonias_array = [...new Set(colonias_array)];
                    console.log(colonias_array);
                    return colonias_array;
                }
            }

            function get_info_by_colonia() {
                getColonia = document.getElementById('lista-colonias').selectedOptions[0].text;
                //console.log(getColonia);
                //console.log(getAlcaldia);


            }

            function show_data() { // shows places according to previous selection of Alcaldia and Colonia
                console.log(getColonia);
                console.log(getAlcaldia);
                const alcaldia = JSON.stringify(alcaldia_info); // convert it to an object
                //console.log(alcaldia_info[1]['COLONIA']);
                populate_header(getAlcaldia, getColonia);

                //filter data by chosen Colonia

                var selected_colonia_info = alcaldia_info.filter(function(entry) {
                    return entry.COLONIA === getColonia;
                });

                //remove duplicates
                selected_colonia_info = [...new Set(selected_colonia_info)];
                console.log(selected_colonia_info);
            }

            function remove_all_childnodes(parent) {
                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }
            }

            function populate_header(getAlcaldia, getColonia) {
                document.getElementById("alcaldia-heading").innerHTML = 'Alcaldía ' + getAlcaldia;
                document.getElementById("colonia-heading").innerHTML = 'Contenedores en la colonia ' + getColonia;
            }

            function show_colonia_info(jsonObj) {}
        </script>


</body>

</html