<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!--Own style -->
    <link rel="stylesheet" href="../style.css">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/9f8e8fc542.js" crossorigin="anonymous"></script>

    <title>Nuevo Ciclo - Únete</title>

</head>

<body>
    <!-- Start Navbar-->
    <div class="main-header fixed-top">
        <nav class="navbar  navbar-expand-md  container">
            <a class="navbar-brand" href="../index.html">
                <img src="../imagenes/NuevoCicloLogo.png " width="80 " height="80 " class="d-inline-block align-center" alt=" " loading="lazy "> Nuevo Ciclo
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #7ed957;">
                <span class="navbar-toggler-icon" style="color: #031c3d" >
                    <i class="fas fa-bars" style="padding-top:4px"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="nav nav-tabs m-auto">
                    <li class="nav-item  align-text-bottom">
                        <a class="nav-link align-text-bottom" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item align-text-bottom ">
                        <a class="nav-link align-text-bottom " href="Conocenos.html ">CONÓCENOS</a>

                    </li>
                    <li class="nav-item align-text-bottom">
                        <a class="nav-link " href="Categorias.html ">CATEGORÍAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="#">ÚNETE</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# ">COMENTARIOS</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <!--End Navbar-->
    <!-- Start Card Decks -->

    <div class="container">
        <div class=" category card-deck">
            <div class="card">
                <div class="card-body text-center align-middle">
                    <div class="jumbotron">
                        <h1 class="display-4" style="letter-spacing: 5px;">ÚNETE</h1>
                        <p class="lead">
                            <span style="font-weight: 700;">¿Estás interesado en formar parte de nuestro directorio?</span>
                        </p>
                        <p class="lead">
                            Escoge tu categoría y da click en <span style="font-weight: 700;">RECIBIR</span> para registrar tu empresa de gestión de residuos
                        </p>
                    </div>
                </div>

            </div>

            <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title align-middle">PILAS</h3>
                </div>
                <img src="../imagenes/pilas.jpg" class="card-img-bottom img-fluid" alt="..." style="opacity: 0.4;">
                <ul class="nav flex-column middle text-center ">
                    <li class="nav-item rounded-pill my-4">
                        <a class="nav-link active" href="# ">DEPOSITAR</a>
                    </li>
                    <li class="nav-item rounded-pill my-4">
                        <a class="nav-link " href="# ">INFÓRMATE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Content -->




    <!--Start Footer-->
    <footer class="mt-5 py-4 text-center">
        <div class="container">

            <p>
                &copy; D. R. 2020. Nuevo Ciclo
            </p>

        </div>

    </footer>
    <!--End Footer-->
</body>

</html>